<!--**********************************
 *  Assignment 4: Management View
 * ********************************* -->

<div class="title-container">
    <% if (title) { %>
        <div class="content__heading"><h1><%= title %></h1></div>
        <%- messages() %>
        <% } else {
            res.redirect('/')
        } %>
</div>

<p>You're logged in.</p>