<% const d = new Date() 
let year = d.getFullYear() %>

<% // Block: Footer %>
<footer class="footer">
    <% // Element within Block: footer__copyright %>
    <p class="footer__copyright">&copy<%= year %>, CSE 340 App</p>
</footer> 