<header id="header--container">
    <span class="header__title--container">
        <a href="/" title="Return to home page" class="header__title--site-name">CSE Motors</a>
    </span>
    <div id="header__login--container">
        <a title="Click to log in" href="/account/login" class="header__login--link">My Account</a>
    </div>
</header>