<header class="header">
    <span class="header__title">
        <a href="/" title="Return to home page" class="header__title-link">CSE Motors</a>
    </span>
    <div class="header__login">
        <a title="Click to log in" href="/account/login" class="header__login-link">My Account</a>
    </div>
</header>
