<header id="top-header">
    <span class="span-header">
        <a href="/" title="Return to home page" class="header header__siteName">CSE Motors</a>
    </span>
    <div id="tools">
        <a title="Click to log in" href="/account/login" class="tools tools__my-account">My Account</a>
    </div>
</header>