/*------------------------------------------------------------------------------*/
/*                                File Import(s)                                */
/*------------------------------------------------------------------------------*/
@import url('./style.css');


/*------------------------------------------------------------------------------*/
/*                                index.ejs file                                */
/*------------------------------------------------------------------------------*/
.section__welcome--container,
.section__reviews--container,
.section__upgrades--container {
    padding: 10px;
}

/* -- Welcome Section -- */
.section__welcome--title {
    font-size: 20px;
}

.section__welcome--img-highlights-container {
    position: relative;
}

.section__welcome--highlights-container {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    color: var(--blue);
    width: 50%;
    font-size: smaller;
    padding: 8px;
    border-radius: 8px;
}

.section__welcome--subtitle{
    font-weight: 800;
    font-size: larger;
    color: var(--highlights-text__clr);
}

.section__welcome--list-highlights {
    font-weight: 700;
    color: var(--highlights-text__clr);
}

.section__welcome--img-container {
    margin-left: 30px;
}

/* -- Reviews Section -- */
.section__reviews--list-reviews {
    margin-left: 8%;
    font-size: smaller;
}

/* -- Upgrades Section -- */
.section__upgrades--img-link-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.section__upgrades--img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    border: .5px solid var(--drk-gray);
    height: 100px;
    width: 110%;
}

.section__upgrades--list-upgrades {
    display: grid;
    grid-gap: 30px;
    grid-template:
    'flux flame'
    'bumper hub';
}

.section__upgrades--flux-cap {
    grid-area: flux;
}

.section__upgrades--flame {
    grid-area: flame;
}

.section__upgrades--bumper {
    grid-area: bumper;
}

.section__upgrades--hub-cap {
    grid-area: hub;
}

.section__upgrades--link,
.footer__copyright {
    font-size: smaller;
}

.section__welcome--list-highlights,
.section__upgrades--list-upgrades,
.navigation__list {
  list-style-type: none;
}

.section__container {
  display: flex;
  flex-direction: column;
  margin: 8px;
}
