/*------------------------------------------------------------------------------*/
/*                                File Import(s)                                */
/*------------------------------------------------------------------------------*/
@import url('./style.css');

/*------------------------------------------------------------------------------*/
/*                                index.ejs file                                */
/*------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------*/
/*                                Sections Wrapper                              */
/*------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------*/
/*                                Welcome Section                               */
/*------------------------------------------------------------------------------*/

.sec-welcome__wrapper {
    position: relative;
}

/*sec-welcome__title*/

.sec-welcome-dmc__wrapper {
    position: relative;
}

.sec-welcome-dmc__card {
    position: absolute;
    width: 50%;
    font-size: smaller;
    padding: 8px;
    border-radius: 8px;
}

.sec-welcome-dmc__title {
    font-weight: 800;
    font-size: larger;
}

.sec-welcome-dmc__content {
    list-style-type: none;
    font-weight: 700;
}

.sec-welcome-dmc__img-wrapper {
    margin-left: 30px;
}

/*sec-welcome-dmc__img*/



/*------------------------------------------------------------------------------*/
/*                                Reviews Section                               */
/*------------------------------------------------------------------------------*/
/*sec-reviews__wrapper*/

/*sec-reviews__title*/

.sec-reviews__content {
    margin-left: 8%;
    font-size: smaller;
}



/*------------------------------------------------------------------------------*/
/*                                Upgrades Section                              */
/*------------------------------------------------------------------------------*/
.sec {
    margin: 10px;
}

.index__title {
    font-size: larger;
}

/*.sec-upgrades-ul__wrapper */

.sec-upgrades__content {
    list-style-type: none;
    display: grid;
    grid-template-areas: 
        "flux flame"
        "bumper hub";
}

.sec-upgrades__card-wrapper {
    /* Flex Box */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.sec-upgrade__card {
    /* Flex Box */
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    width: 150px;
    height: 130px;
    background: #1890FF;
    border: 2px solid #093966;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.sec-upgrade-card__img-wrapper {
    /* Flex Box */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Sizing */
    width: 80px;
    height: 80px;
}

.sec-upgrade__subtitle {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    color: #000000;
}

.sec-upgrades__card-wrapper--flux  {
    grid-area: flux;
}

.sec-upgrades__card-wrapper--flame{
    grid-area: flame;
}

.sec-upgrades__card-wrapper--bumper {
    grid-area: bumper;
}

.sec-upgrades__card-wrapper--hub {
    grid-area: hub;
}