/*------------------------------------------------------------------------------*/
/*                                File Import(s)                                */
/*------------------------------------------------------------------------------*/
@import url('./style.css');


/*------------------------------------------------------------------------------*/
/*                            Header Styles                                     */
/*------------------------------------------------------------------------------*/
#header--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 12vh;
    margin-top: 2%;
}

.header__title--site-name {
    font-size: 28px;
    padding: 10px;
    font-weight: 700;
}

.header__login--link {
    font-size: smaller;
    padding: 10px;
}

.header__login--link:hover {
    color: var(--blue);
}

.header__title--site-name,
.header__login--link {
    text-decoration: none;
    color: var(--drk-gray);
}


/*------------------------------------------------------------------------------*/
/*                            Navigation Styles                                 */
/*------------------------------------------------------------------------------*/
nav {
  background-color: var(--title-clr);
  width: 100%;
}

.navigation__list--item {
  font-family: var(--font-family-openSans);
  color: var(--nav-clr);
  text-decoration: none;
  font-size: 16px;
  font-weight: 800;
}

.navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px;
}

.navigation__list--item {
    justify-content: space-evenly;
}

/*------------------------------------------------------------------------------*/
/*                              Footer Styles                                   */
/*------------------------------------------------------------------------------*/
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: small;
}
