@media screen and (min-width: 600px) {
  .vehicle-grid__ul {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* Responsive columns */
  }

  .section__container {
    display: grid;
    grid-gap: 30px;
    grid-template:
        'welcome welcome'
        'upgrades reviews';
    }
  
    .section__welcome--container {
      grid-area: welcome;
    }
  
    .section__reviews--container {
      grid-area: reviews;
    }
  
    .section__upgrades--container {
      grid-area: upgrades;
    }
  
      /* Welcome Section */
    .section__welcome--highlights-container {
      width: 20%;
    }
  
      /* Upgrades Section */
    .section__upgrades--img-container {
      width: auto;
    }
}















/*
  Mobile
  @media screen and (width <= 768px) {
    Styles for screens up to 767 pixels wide (typically mobile devices)

    }
    
    Tablet
    @media screen and (min-width: 768px) and (max-width: 991px) {
      Styles for screens between 768 and 991 pixels wide (typically tablets)

    }
    
    Laptop
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      Styles for screens between 992 and 1199 pixels wide (typically laptops)
    }
    
    Desktop
    @media screen and (min-width: 1200px) {
    Styles for screens 1200 pixels wide and above (typically desktops)
    
    } 
*/
  


  /*------------------------------------------------------------------------------*/
/*                               @Media Queries                                 */
/*------------------------------------------------------------------------------*/

/*---------- Min Width 768px ------------*/
/*
@media (min-width: 768px) {


    .section__container {
    display: grid;
    grid-gap: 30px;
    grid-template:
        'welcome welcome'
        'upgrades reviews';
    }
  
    .section__welcome--container {
      grid-area: welcome;
    }
  
    .section__reviews--container {
      grid-area: reviews;
    }
  
    .section__upgrades--container {
      grid-area: upgrades;
    }
  
      
    .section__welcome--highlights-container {
      width: 20%;
    }
  
      
    .section__upgrades--img-container {
      width: auto;
    }
  }
*/
/*--------------------------------------*/