/*------------------------------------------------------------------------------*/
/*                                File Import(s)                                */
/*------------------------------------------------------------------------------*/
@import url('./style.css');


/*------------------------------------------------------------------------------*/
/*                            Header Styles                                     */
/*------------------------------------------------------------------------------*/
/* header */

/* header__title */

.header__title-link {
    font-size: 25px;
}

/* header__login */

.header__login-link {
    font-size: 16px;
}


/*------------------------------------------------------------------------------*/
/*                            Navigation Styles                                 */
/*------------------------------------------------------------------------------*/
/* navigation */

/* navigation__list */

.navigation__item {
    font-size: medium;
}