/*------------------------------------------------------------------------------*/
/*                                Font Import                                   */
/*------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');


/*------------------------------------------------------------------------------*/
/*                                Root                                          */
/*------------------------------------------------------------------------------*/
:root {
  /*
  --blue: #33a6c8;
  --blue-hover: #2a89a5;
  */
  --body-margin-default: 10px;
  --margin-sm: 10px;
  --margin-md: 10px;
  --margin-lrg: 20px;

  /* Button */
  --primary-button-default__txt-clr: #ffffff;
  --primary-button-hover__txt-clr: #1890FF;

  --primary-button-default__bg-clr: #1890FF;
  --primary-button-hover__bg-clr:#ffffff;
  
  --primary-button-default__border-clr: #1890FF;

  /* Fonts */
  --font-family-catamaran: 'Catamaran', sans-serif;
  --font-family-openSans: 'Open Sans', sans-serif;

  /* Font Colors */
  --title-clr: #272727;
  --nav-clr: #ffffff;

  /* Card Drop Shadow */
  --card__drop-shadow-clr: rgba(0, 0, 0, 0.5);

  /* Vehicle Grid Card */
  --vehicle-grid__card-clr-outline: #272727;

  /*DMC Information Card*/
  --dmc-card__clr-bg: rgba(255, 255, 255, 0.5);

  /* DMC Information Card */
  --dmc-info-card__clr-txt: #1890FF;

  /* Upgrade Card*/
  --upgrade-card__clr-bg: #1890FF;
  --upgrade-card__clr-outline: #093966;

  /* Highlights text */
  --highlights-text__clr:#1890FF;
}


/*------------------------------------------------------------------------------*/
/*                          Reset and General Styles                            */
/*------------------------------------------------------------------------------*/

/******* Change Box Model ***************/
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
}

.card {
  box-shadow: 0px 10px 10px var(--card__drop-shadow-clr);
}


/*------------------------------------------------------------------------------*/
/*                                Fonts                                         */
/*------------------------------------------------------------------------------*/
.header__title--site-name,
.header__login--link,
.footer__copyright,
.content__heading,
.font-c,
.vehicle-detail-card__title,
.vehicle-detail-card__content {
  font-family: var(--font-family-catamaran);
  color: var(--title-clr);
}

.btn,
.font-op {
  font-family: var(--font-family-openSans);
  color: var(--title-clr);
}

.footer__copyright {
  font-size: smaller;
}


/*------------------------------------------------------------------------------*/
/*                                Buttons                                       */
/*------------------------------------------------------------------------------*/
.btn {
  height: auto;
  width: auto;
  padding: 2px;
  text-align: center;
  border-radius: 8px;
  font-weight: 700;
}

.btn:hover {
  height: auto;
  width: auto;
  padding: 2px;
  text-align: center;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
}

.sec-welcome-dmc__btn-default {
  background-color: var(--primary-button-default__bg-clr);
  border: 2px solid var(--primary-button-default__border-clr);
  color: var(--primary-button-default__txt-clr);
}

.sec-welcome-dmc__btn-default:hover {
  background-color: var(--primary-button-hover__bg-clr);
  border: 2px solid var(--primary-button-default__border-clr);
  color: var(--primary-button-hover__txt-clr);
}




.sec-welcome-dmc__card {
  color: var(--dmc-info-card__clr-txt);
  background-color: rgba(255, 255, 255, 0.6);
}